*{
    -webkit-appearance: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: #4d4d4d;
}
html,body{
    width: 100%;
    height: 100%;
}
html{
    font-size: 20px;
}
.mainBox{
    width: 100%;
    height: auto;
    box-sizing: border-box;
    margin:0.88rem 0 0.98rem 0;
}
.header{
    width: 100%;
    height: 0.88rem;
    background: #88bbd6;
    color: #4d4d4d;
    font-size: 0.32rem;
    line-height: 0.88rem;
    text-align: center;
    font-weight: 500;
    position: fixed;
    top:0;
    z-index: 99;
}
.lastPage{
    display: block;
    width: 0.3rem;
    height: 0.3rem;
    border-left: #4d4d4d 1px solid;
    border-bottom: #4d4d4d 1px solid;
    transform: rotate(45deg);
    margin-top: 0.29rem;
    position: absolute;
    left: 0.3rem;
}
/*试卷内容*/
.allExam{
    width: 100%;
    height: auto;
    padding: 0.3rem 0.2rem 0.2rem 0.2rem;
    margin-top: 0.3rem;
    box-sizing: border-box;
}
.oneItemBox{
    width: 100%;
    height: auto;
}
.itemTitle{
    color: #000;
    font-size: 0.36rem;
    font-weight: 500;
    height: 0.3rem;
    line-height: 0.3rem;
}
 .theItem{
    width: 100%;
    color: #000;
    font-size: 0.36rem;
    font-weight: 500;
    box-sizing: border-box;
    padding: 0.5rem 0.2rem;
     margin-top: 0.2rem;
}
.optionBox{
    width: 90%;
    margin: 0 auto;
}
.optionBox ul{
    width: 100%;
    height: auto;
    list-style: none;
}
.optionBox li{
    width: 100%;
    height: auto;
    margin: 0.2rem 0 0 0;
    padding: 0;
    overflow: hidden;
}
.optionBox .check{
    width: 0.4rem;
    height: 0.4rem;
    float: left;
    margin: 0;
    padding: 0;
    font-size: 0;
}
.optionBox .theOption{
    height: auto;
    line-height: 0.4rem;
    font-size: 0.38rem;
    overflow:hidden;
}
/*小题目*/
#minItem{
    padding: 0 0.3rem;
}
.minTitle{
    height: auto;
    padding: 0.1rem 0;
    font-size: 0.36rem;
}
.anMsg{
    margin-top: 1rem;
    font-size: 0.4rem;
    font-weight: bold;
    color: #000;
}
.anMsg span{
    font-size: 0.4rem;
    color: #88bbd6;
    font-weight: bold;
}
input[type="checkbox"] {
    -webkit-appearance: none;
    background-repeat:no-repeat;
    background: #fff url(../../image/nocheck.png);
    background-size: 100%;
    height: 0.3rem;
    vertical-align: middle;
    width: 0.3rem;
}

input[type="checkbox"]:checked {
    background: #fff url(../../image/check.png);
    background-repeat:no-repeat;
    background-size: 100%;
    outline: none;
}
input[type="radio"] {
    -webkit-appearance: none;
    background: #fff url(../../image/nocheck.png);
    background-repeat:no-repeat;
    background-size: 100%;
    height: 0.3rem;
    vertical-align: middle;
    width: 0.3rem;
}
input[type="radio"]:checked {
    background: #fff url(../../image/check.png);
    background-repeat:no-repeat;
    background-size: 100%;
    outline: none;
}
/*底部按钮*/
.bottomBox{
    width: 100%;
    height: 0.88rem;
    position: fixed;
    bottom: 0;
    z-index: 99;
    font-size: 0;
    border-top: 1px #a9a9a9 solid;
}
.bottomBox a{
    display: inline-block;
    width: 33.3%;
    height: 0.88rem;
    line-height: 0.88rem;
    text-align: center;
    color: #4d4d4d;
    background: rgba(255,255,255,.8);
    font-size: 0.36rem;
}
.bottomBox .sub{
    background: #88bbd6;
}
.showAns{
    width: 1.4rem;
    height: 0.5rem;
    display: none;
}
.showAns a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 0.5rem;
    font-size: 0.36rem;
    text-align: center;
    color: #fff;
    background: #88bbd6;
    border-radius: 3px;
}
/*解析区块*/
.analyBox{
    padding: 0.3rem;
    height: auto;
    display: none;
}
.analyBox .ansTitle{
    width: auto;
    height: 0.5rem;
    line-height: 0.5rem;
    padding-left: 20px;
    border-left: 6px #88bbd6 solid;
    font-size: 0.36rem;
    color: #4d4d4d;
}
.analyBox .theAnaly{
    margin-top: 10px;
    line-height: 0.4rem;
    font-size: 0.36rem;
    color: #4d4d4d;
}