*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.allBox{
    width: 98%;
    min-width: 500px;
    height: auto;
    margin: 30px auto;
}
.allBox ul{
    width: 100%;
    height: auto;
    list-style: none;
}
.allBox li{
    width: 100%;
    height: auto;
}
.allBox li>span{
    width: 50%;
    display: inline-block;
    height: 40px;
    line-height: 40px;
    color: #4d4d4d;
    border-bottom: 1px #a9a9a9 solid;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.allBox span > a{
    display: inline-block;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    margin-top: 5px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    color: #4d4d4d;
}
.selectBox{
    width: 500px;
    height: auto;
    margin: 20px auto;
}
.selectBox .oneSelect{
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    margin-left: 20px;
    border: #a9a9a9 1px solid;
    outline: none;
    color: #4d4d4d;
}
.title{
    width: auto;
    height: 30px;
    font-size: 20px;
    padding-left: 6px;
    line-height: 30px;
    border-left: 8px #88bbd6 solid;
    font-weight: bold;
}