*{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
html,body{
    width: 100%;
    height: 100%;
}
.header{
    width: 100%;
    height: 60px;
    z-index: 100;
    top: 0;
    left: 0;
    border-top: 1px #ccc solid;
    border-bottom: 1px #ccc solid;
    position: relative;
    background: #88bbd6;
}
.header ul{
    width: 100%;
    height: 100%;
    display: block;
    list-style: none;
    text-align: center;
}
.header ul li{
    width: auto;
    padding: 0 30px;
    height: 100%;
    line-height: 60px;
    display: inline-block;
}
.header a{
    display: block;
    height: 60px;
    line-height: 60px;
    color: #fff;
    padding: 0 10px 0 10px;
    font-size: 17px;
    font-weight: 500;
}
.header .loginBox{
    width: 200px;
    height: 60px;
    top: 0;
    position: absolute;
    right: 0;
}
.header .loginBox a{
    width: 100px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    float: right;
    font-size: 15px;
    margin: 0;
    padding: 0;
    color: #fff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/*考试主体*/
.examBox{
    width: 90%;
    height: auto;
    margin: 20px auto;
    overflow: hidden;
    border: #999 1px solid;
}
.examBox .examTitle{
    width: 100%;
    height: 32px;
    text-align: center;
    font-size: 15px;
    line-height: 32px;
    border-radius: 5px;
}
.examBox .allExam{
    width: 100%;
    height: auto;
    padding: 30px 20px 20px 20px;
    margin-top: 30px;
    border-radius: 5px;
    box-sizing: border-box;
}
/*题目小图标*/

/*每页一题*/
.theExamBox{
    width: 100%;
    height: auto;
    min-height: 200px;
    overflow: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
}
.theExamBox .leftMenu{
    float: left;
    width: 300px;
    height: 100%;
    padding-right: 20px;
    border-right: 1px solid #A8A8A8;
}
.leftMenu ul{
    width: 100%;
    height: auto;
    list-style: none;
    text-align: center;
}
.leftMenu li{
    width: 40px;
    height: 40px;
    box-sizing: border-box;
    display: inline-block;
    border: #dddddd 1px solid;
    cursor: pointer;
    margin-left: 2px;
    margin-top: 5px;
    line-height: 40px;
    text-align: center;
}

.theExamBox .oneItemBox{
    overflow: auto;
    height: auto;
    min-height: 200px;
    box-sizing: border-box;
    padding: 30px;
}
.itemTitle{
    color: #000;
    font-size: 20px;
    font-weight: 500;
    height: 30px;
    line-height: 30px;
}
.oneItemBox .theItem{
    width: 100%;
    color: #000;
    font-size: 20px;
    font-weight: 500;
    box-sizing: border-box;
    padding: 50px 20px;
}
 .optionBox{
    width: 90%;
    margin: 0 auto;
}
.optionBox ul{
    width: 100%;
    height: auto;
    list-style: none;
}
.optionBox li{
    width: 100%;
    height: auto;
    margin: 5px 0 0 0;
    padding: 0;
    overflow: hidden;
}
.optionBox .check{
    width: 30px;
    height: 30px;
    float: left;
    margin: 0;
    padding: 0;
}
.optionBox .theOption{
    height: auto;
    line-height: 18px;
    font-size: 15px;
    overflow:hidden;
}
/*底部选择*/
.itemFooter{
    height: 80px;
    border-top: 1px #999 solid;
    padding-top: 20px;
}
.itemFooter .timeBox{
    float: left;
    width: 300px;
    height: 60px;
    font-size: 20px;
}
.timeBox .timeTitle{
    height: 20px;
    line-height: 20px;
    text-align: center;
}
.timeBox .time{
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #d6646c;
    font-weight: bold;
    font-size: 25px;
}
.controlBox{
    height: 60px;
    overflow: hidden;
}
.controlBox a{
    float: left;
    display: block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    background: #88bbd6;
    text-align: center;
    color: #4d4d4d;
    margin-left: 20px;
    border-radius: 3px;
}
/*小题目*/
#minItem{
    padding: 0 30px;
}
.minTitle{
    height: auto;
    padding: 10px 0;
}
.anMsg{
    font-size: 20px;
    font-weight: bold;
    color: #000;
}
.anMsg span{
    font-size: 20px;
    color: #88bbd6;
    font-weight: bold;
}
.showAns{
    width: 60px;
    height: 35px;
    display: none;
}
.showAns a{
    display: block;
    width: 100%;
    height: 100%;
    line-height: 35px;
    text-align: center;
    color: #fff;
    background: #88bbd6;
    border-radius: 3px;
}
/*解析区块*/
.analyBox{
    padding: 20px;
    height: auto;
    display: none;
}
.analyBox .ansTitle{
    width: auto;
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
    border-left: 6px #88bbd6 solid;
    font-size: 16px;
}
.analyBox .theAnaly{
    margin-top: 10px;
    line-height: 20px;
    font-size: 16px;
    color: #4d4d4d;
}