<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cm.cn.mapper.ExampaperStuMapper" >
	<resultMap id="BaseResultMap" type="cm.cn.po.StuDoneExam" >
<!-- 		<id column="id" property="id" jdbcType="INTEGER" /> -->
	    <result column="name" property="name"  />
	    <result column="score" property="score"  />
	    <result column="stuName" property="stuName"  />
	</resultMap>
<!-- 	根据试卷 ID 删除试卷学生关系 -->
	<delete id="delByExamIdArray">
		DELETE
		FROM
			js_exampaper_stu
		WHERE
			exampaper_id IN 
		<foreach collection="array" item="id" index="index"
           open="(" close=")" separator=",">
           #{id}
     	</foreach>
	</delete>
<!-- 	根据学生 ID 删除试卷学生关系 -->
	<delete id="delByStuIdArray">
		DELETE
		FROM
			js_exampaper_stu
		WHERE
			stu_id IN 
		<foreach collection="array" item="id" index="index"
	          open="(" close=")" separator=",">
	          #{id}
	    </foreach>
	</delete>
	<!-- 	学生查询自己已做 -->
	<select id="selDone" resultMap="BaseResultMap" parameterType="java.lang.Integer">
		SELECT
			s.`name`,
			sd.score
		FROM
			js_exampaper s,
			js_exampaper_stu sd
		WHERE
			s.id = sd.exampaper_id
		AND sd.exampaper_id IN (
			SELECT
				sd.exampaper_id
			FROM
				js_exampaper_stu
			WHERE
				sd.stu_id = #{stuid,jdbcType=INTEGER}
		)
	</select>
	<!-- 	老师查询学生已做 -->
	<select id="selStuDone" resultMap="BaseResultMap" >
		SELECT
			s.`name` '考试名称',
			le1.`name` '第一层',
			le2.`name` '第er层',
			sd.score '最后一次考试分数',
			stu.username '学生姓名'
		FROM
			js_exampaper s,
			js_exampaper_stu sd,
			js_user stu,
			js_level le1,
			js_level le2
		WHERE
			s.id = sd.exampaper_id
		AND stu.id = sd.stu_id
		AND stu.reserve_five = le1.id
		AND stu.reserve_six = le2.id
	</select>
</mapper>